name: Daily Update

on:
  schedule:
    - cron: '0 0 * * *' # 毎日朝9時に実行
  workflow_dispatch: # 手動実行用ボタンを作る

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Firebase library
        run: pip install firebase-admin
      - name: Execute script
        env:
          FIREBASE_KEY: ${{ secrets.FIREBASE_KEY }}
        run: python update_stocks.py
